# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# node
node_modules/

# build
build/
dist/

# env
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# rust / soroban
target/
**/target/
wasm32-unknown-unknown/

# cargo cache
Cargo.lock
.cargo-lock

# misc
.DS_Store
.vscode/*
!.vscode/extensions.json